.link {
    text-decoration: none;
}

.logotype {
    text-decoration: none;
}

.list {
    list-style-type: none;
}

button {
    cursor: pointer;
    text-align: center;
    color: var(--white, #FFF);
    
        /* Button Text */
        font-family: "Roboto", sans-serif;
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        line-height: 1.5;
        /* 150% */
        letter-spacing: 0.04em;
}
button:hover,
button:focus {
    color: #404BBF
}
body {
    color: var(--navyblue,#434455);
    font-family: "Roboto", sans-serif;
    background-color:#FFFFFF;
}

.logotype {
    color: var(--iris, #4D5AE5);
        font-family: 'Raleway',
            sans-serif;
        font-size: 18px;
        font-weight: 700;
        line-height: 1.17;
        /* 116.667% */
        letter-spacing: 0.54px;
        text-transform: uppercase;
}
.spanlogotype {
    color: var(--navyblue, #2e2f42);
}
.menu-link {
    color: var(--navyblue, #2E2F42);
    
        /* Body Medium */
        font-family:"Roboto", sans-serif;
        font-size: 16px;
        font-weight: 500;
        line-height: 1.5;
        /* 150% */
        letter-spacing: 0.32px;
}
.menu-link:hover,
.menu-link:focus {
    color: #404BBF
}
.titlehero {
    color: var(--white, #FFF);
        text-align: center;
    
        /* Header 1 */
        font-size: 56px;
        font-weight: 700;
        line-height: 1.07;
        /* 107.143% */
        letter-spacing: 1.12px;
        border-radius: 8px;
            background: #2e2f42;
            box-shadow: 0px 0px 12px 0px rgba(0, 0, 0, 0.05) inset;
}
.titlesecond {
    color: var(--navyblue, #2E2F42);
        text-align: center;
    
        /* Header 2 */
        font-size: 36px;
        font-weight: 700;
        line-height: 1.11;
        /* 111.111% */
        letter-spacing: 0.72px;
        text-transform: capitalize;
}
.sectionh {
        /* Header 3 */
        font-size: 20px;
        font-weight: 500;
        line-height: 1.2;
        /* 120% */
        letter-spacing: 0.4px;
}
.sectionp {
    
        /* Body */
        font-size: 16px;
        font-weight: 400;
        line-height: 1.5;
        /* 150% */
        letter-spacing: 0.32px;
}
.teamh {
        text-align: center;
    
        /* Header 3 */
        font-size: 20px;
        font-weight: 500;
        line-height: 1.2;
        /* 120% */
        letter-spacing: 0.4px;
        background-color: #F4F4FD;
}
.teamp {
    color: var(--slate, #434455);
        text-align: center;
    
        /* Body */
        font-size: 16px;
        font-weight: 400;
        line-height: 1.5;
        /* 150% */
        letter-spacing: 0.32px;
        background-color: #F4F4FD;
}
.portfolioh {
    color: var(--navyblue, #2E2F42);
    
        /* Header 3 */
        font-size: 20px;
        font-weight: 500;
        line-height: 1.2;
        /* 120% */
        letter-spacing: 0.4px;
}
.portfoliop {
    color: var(--slate, #434455);
    
        /* Body */
        font-size: 16px;
        font-weight: 400;
        line-height: 1.5;
        /* 150% */
        letter-spacing: 0.32px;
}
.pagefooter {
    background-color: #2e2f42;
}
.logotypefooter {
    color: #4d5ae5;
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;

}
.spanlogotypefooter {
    color: #f4f4fd
}

.pagefooter {
    background-color: #2e2f42
}
.textfooter {
    color: var(--cloud, #F4F4FD);

        /* Body */
        font-size: 16px;

        font-weight: 400;
        line-height: 1.5;
        /* 150% */
        letter-spacing: 0.2em;
}