.link {
    text-decoration: none;
}

.logotype {
    text-decoration: none;
}

.list {
    list-style-type: none;
}

button {
    cursor: pointer;
}

.logotype {
    color: var(--navyblue, #2E2F42);
        font-family: 'Raleway',
            sans-serif;
        font-size: 18px;
        font-weight: 700;
        line-height: 1.16;
        /* 116.667% */
        letter-spacing: 0.54px;
        text-transform: uppercase;
}
.spanlogotype {
    color: var(--iris, #4D5AE5);
}